{% extends 'base.html' %}

{% block content %}
<br>
<h2 class="text-center">Sign In</h2>
<br/>
<div class="col-md-6 offset-md-3">
<form method="POST">
    {% csrf_token %}
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="Enter your email address">
<!--    <small id="emailHelp" class="form-text text-muted">eg. name@example.com</small>-->
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Enter your password">
    <p class="text-right"><small><a href="{% url 'password_reset' %}" class="text-secondary">Forgot Password</a></small></p>
  </div>
  <button type="submit" class="btn btn-primary btn-sm btn-block">Login</button>
</form>
  <br>
  <p class="text-center"><small><a href="{% url 'register' %}" class="text-secondary">Not a user? Register yourself for the first time</a></small></p>
</div>
{% endblock %}