{% extends 'base.html' %}

{% block content %}
<br>
<h2 class="text-center">Edit Profile</h2></br>
<div class="col-md-6 offset-md-3">
<form method="POST" action="{% url 'profile' %}">
    {% csrf_token %}

    {% if form.errors %}
    <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
              <small><sup>x</sup></small>
            </button>
        <p>Your form has errors!</p>
          </div>
    {% endif %}
    {{ form.as_p }}
    <input type="submit" value="Save" class="btn btn-primary btn-sm btn-block"><br>
<p><small><a href="{% url 'password' %}">Click here</a> to change your password</small></p>
</form>
</div>
{% endblock %}